integromat.json
{
    "name": "Chromebooks in Deutschland Cloud Build",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 417182,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "hook": {
                        "label": "chromebooks-in-deutschland-cloud-builds"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "label": "Webhook",
                        "type": "hook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "label": "Maximum number of results",
                        "type": "number"
                    }
                ],
                "interface": [
                    {
                        "name": "message",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "attributes",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "buildId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "data",
                                "type": "text"
                            },
                            {
                                "name": "messageId",
                                "type": "text"
                            },
                            {
                                "name": "message_id",
                                "type": "text"
                            },
                            {
                                "name": "publishTime",
                                "type": "text"
                            },
                            {
                                "name": "publish_time",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "subscription",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "util:ComposeTransformer",
            "version": 1,
            "parameters": {},
            "mapper": {
                "value": "{{toString(toBinary(1.message.data; \"base64\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 278,
                    "y": 7
                },
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{6.value}}"
            },
            "metadata": {
                "designer": {
                    "x": 573,
                    "y": 9
                },
                "restore": {
                    "type": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 13,
                    "module": "email:ActionSendMeEmail",
                    "version": 7,
                    "parameters": {},
                    "mapper": {
                        "subject": "ERROR {{9.error.message}}",
                        "html": "{{9.error.detail}}\n{{6.value}}"
                    },
                    "metadata": {
                        "designer": {
                            "x": 841,
                            "y": 262
                        },
                        "expect": [
                            {
                                "name": "subject",
                                "label": "Subject",
                                "type": "text"
                            },
                            {
                                "name": "html",
                                "label": "Content",
                                "type": "text"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 14,
                            "module": "builtin:Ignore",
                            "version": 1,
                            "filter": {
                                "name": "Catch all",
                                "conditions": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1141,
                                    "y": 262
                                }
                            }
                        }
                    ]
                }
            ]
        },
        {
            "id": 10,
            "module": "email:ActionSendMeEmail",
            "version": 7,
            "parameters": {},
            "filter": {
                "name": "Filter out progress info",
                "conditions": [
                    [
                        {
                            "a": "{{9.status}}",
                            "b": "WORKING",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{9.status}}",
                            "b": "QUEUED",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "html": "<a href=\"{{9.logUrl}}\">Logs</a>\n\n<a href=\"https://github.com/schlomo/chromebooks-in-deutschland/commit/{{9.sourceProvenance.resolvedRepoSource.commitSha}}\">Commit {{9.sourceProvenance.resolvedRepoSource.commitSha}}</a>\n\n<hr>\n\nDetails:<br><pre>{{6.value}}</pre>",
                "subject": "{{9.status}} {{ifempty(9.substitutions.TAG_NAME; 9.substitutions.BRANCH_NAME )}} to {{9.substitutions.`_ENVIRONMENT`}} Cloud Build {{9.projectId}} "
            },
            "metadata": {
                "designer": {
                    "x": 873,
                    "y": -141
                },
                "expect": [
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}